body{
    background:#ccc;
}

html {
    scroll-padding-top: 80px;
}

#Header a:hover{
    color:#fff;
}

#bg-img{
    background:url('./img/background.jpg');
    background-size:100%;
    background-repeat: no-repeat;
    min-height:500px;
}

.media{
    display:flex;
}

#About{
    margin-top: -200px;
}

#About .fab{
    color:#fff;
}


#About span{
    padding:10px 20px 10px 20px;
}

#About hr{
    border-width: 3px;
    border-color: red;
    margin-top: 6px;
}

#skills span{
    padding: 10px 20px 10px 20px;
}

#skills hr{
    border-width:3px;
    margin-top:6px;
}

#experience span{
    padding: 10px 20px 10px 20px;
}

#experience hr{
    border-width:3px;
    margin-top:6px;
}

#experience .card{
    border-top:03px solid red;
}

#contact span{
    padding: 10px 20px 10px 20px;
}

#contact hr{
    border-width:3px;
    margin-top:6px;
}